<!doctype html>
<html th:replace="~{user_layout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>[[${form_title}]]</title>
</head>
<body>

<main class="flex-shrink-0">
    <div class="container">
        <h2 class="mt-5">[[${form_title}]]</h2>
        <div class="text-end">
            <a sec:authorize="hasAuthority('user_list')" href="/users">back to list</a>
        </div>

        <div class="card" style="max-width: 600px;">
            <div class="card-body">
                <form class="row g-3 needs-validation" name="user" th:action="@{${action}}" th:object="${user}" method="post" novalidate>
                    <div class="col-md-6">
                        <label for="email" class="form-label required">Email</label>
                        <input type="email" id="email" class="form-control" th:field="*{email}" th:classappend="${not #lists.isEmpty(#fields.errors('email'))} ? is-invalid" required/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                            Valid email is required.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label required" for="user_role">Role</label>
                        <select th:field="*{role}" id="user_role" class="form-select">
                            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(role.name, 'ROLE_', '')))}">...</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="firstname" class="form-label required">First name</label>
                        <input type="text" id="firstname" class="form-control" th:field="*{firstname}" th:classappend="${not #lists.isEmpty(#fields.errors('firstname'))} ? is-invalid"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="lastname" class="form-label required">Last name</label>
                        <input type="text"  id="lastname" class="form-control"  th:field="*{lastname}" th:classappend="${not #lists.isEmpty(#fields.errors('lastname'))} ? is-invalid"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

</body>
</html>