<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto"
      th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:replace="${title}">Layout Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <meta name="theme-color" content="#712cf9">

    <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}" />
    <link rel="stylesheet" href="/static/css/cover.css" th:href="@{/css/cover.css}" />
</head>
<body class="d-flex h-100 text-center text-bg-dark">

<div th:replace="~{fragments/theme_switcher :: theme_switcher}">...</div>
<div th:insert="~{fragments/logout_modal :: logout_modal}" data-bs-theme="dark">...</div>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Cover</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
                <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
                <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
                <a sec:authorize="hasRole('USER')" class="nav-link fw-bold py-1 px-0" href="/dashboard">Dashboard</a>
                <a sec:authorize="hasAuthority('user_list')" class="nav-link fw-bold py-1 px-0" href="/users">Users</a>
                <a sec:authorize="!isAuthenticated()" class="nav-link fw-bold py-1 px-0" href="/login">Login</a>
                <a sec:authorize="isAuthenticated()" class="nav-link fw-bold py-1 px-0" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Logout</a>
            </nav>
        </div>
    </header>

    <main class="px-3" th:replace="${content}"></main>

    <footer class="mt-auto text-white-50">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>
<script src="/static/js/color-modes.js" th:src="@{/js/color-modes.js}"></script>
<script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>